<html>
    <body>
        <div>
            <table>
                <tr>
                    <td>
                        <a href="">Profile</a>
                    </td>
                    <td>
                        <a href="">Highscores</a>
                    </td>
                    {% if current_user.is_authenticated %}
                    <td>
                        <a href="">Logout</a>
                    </td>
                    {% else %}
                    <td>
                        <a href="{{url_for('auth.login')}}">Login</a>
                    </td>
                    {% endif %}
                    <td>Current user is: {{ current_user.username }}</td>
                </tr>
            </table>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div> {{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>
    </body>
</html>