{% extends 'base.html' %}

{% block content %}
    <table class="post-table">
        {% include '_post.html' %}
    </table>
    <div style="text-align: center;">
        <button>
            <a href="{{url_for('routes.index')}}" class="post-button">Return to Main Menu</a>
        </button>
        {% if form %}
        <form action="" method="POST">
            {{form.hidden_tag()}}
            <div>
                <p>{{form.body.label}}</p>
                <p>{{form.body()}}</p>
                {% for error in form.body.errors %}
                    <span style="color:red">[{{error}}]</span>
                {% endfor %}
                
                <p>{{form.submit()}}</p>
            </div>
        </form>
        {% endif %}
    </div>
    <table class="post-table">
        {% for comment in post.comments %}
            {% include '_comment.html' %}
        {% endfor %}
    </table>
{% endblock %}