{% extends 'base.html' %}

{% block content %}
<div style="text-align: center;">
    <h1>Login</h1>
    {% if form %}
    <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>{{ form.username.label }}</p>
            <p>{{ form.username() }}</p>
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
            <p>{{ form.password.label }}</p>
            <p>{{ form.password() }}</p>
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
            <p>
                {{ form.remember_me.label }}
                {{ form.remember_me() }}
            </p>
        
        <p>{{ form.submit() }}</p>

        <p>New User?</p>
        <a href="{{ url_for('auth.register') }}">Click to Register</a>
    </form>
    {% endif %}
</div>
{% endblock %}