{% extends 'base.html' %}

{% block content %}
    <div style="text-align:center">
        <p>Username: {{ the_user.username }}</p>
        <p>First Name: {{ the_user.first_name }}</p>
        <p>Last Name: {{ the_user.last_name }}</p>
        <p>Email: {{the_user.email }}</p>
        <p>Join Date: {{ the_user.join_Date }}</p>
        <p>Preferred Tags: 
            {% for tag in the_user.preferred_tags %}
                <li>{{tag.name}}</li>
            {% endfor %}
        </p>
        <button>
            <a href="{{url_for('routes.index')}}" class="post-button">Return to Main Menu</a>
        </button>
        <button>
            <a href="{{url_for('auth.edit_profile',user_id = the_user.id)}}" class="post-button">Edit Profile</a>
        </button>
    </div>
{% endblock %}